# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Temporary files
*.swp
*.swo
*~
.tmp/

# IDE
.vscode/
.idea/
*.sublime-*

# Logs
logs
*.log

# Testing
coverage/
.nyc_output

# Cache
.cache/

# Code Guro
code-guro-output/
